[user]
	name = Dhinesh Sattia
	email = test@gmail.com
[alias]
	st = status
	d = diff
	l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	ll = log --all --decorate --oneline --graph
	b = branch
	bd = branch -D
	c = commit -m
	co = checkout
	cob = checkout -b
	cot = checkout -t
	m = merge
	pr = pull -r
	p = push
	pf = push -f
	amend = commit --amend --no-edit
	a = add -A
	af = add .
	au = add -u 
	ar = add --ignore-removal .
	unstash = stash apply 0
	showfiles = show --pretty=\"format:\" --name-status
	alias = config --get-regexp alias
	h = rev-parse --verify
	showalias = config --get-regexp alias
	patch = "!f() { git am --signoff -k $1; }; f"
	fpatch = "!f() { git format-patch --signoff -k --output-directory $1; }; f"
	default = simple
        purge = "!f() { git fetch -p && git branch -vv | awk '/: gone/{print $1}' > /tmp/gone-branches && vim /tmp/gone-branches && xargs git branch -D < /tmp/gone-branches ; }; f"
	mybranches = "!f() { git branch -r | grep -v 'origin/HEAD ->' | xargs -L1 git --no-pager show -s --oneline --author=\"$(git config user.name)\"; }; f"
	skipped = "!f(){ git ls-files -v ${1} | grep ^S;};f"
	skip = update-index --skip-worktree --
	unskip = update-index --no-skip-worktree --
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = vim
